
@page "/facturas"
<h1>Facturas</h1>
<button @onclick="Agregar" class="btn btn-success" style="margin-bottom: 5px;">Agregar</button>
@if(Facturas != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Costo Total</th>
                <th>Cajero</th>
                <th>Metodo de pago</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in Facturas)
            {
                <tr>
                    <td>@factura.Id</td>
                    <td>@factura.Date</td>
                    <td>@factura.Productos.Nombre $@factura.Productos.Precio</td>
                    <td>@factura.CostoTotal</td>
                    <td>@factura.CajeroNombre.Nombre</td>
                    <td>@factura.MetodoPago.Nombre</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <td><button type="button" class="btn btn-outline-success">Descargar</button></td>
                            <button class="btn btn-outline-warning" @onclick="()=>Editar(factura.Id)">Editar</button>
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<FacturaRecord>? Facturas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await facturasManager.GetAsync();
        if(response.Succeeded){
            Facturas = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/rol/crear",false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/rol/editar/{Id}",false);
    }
}

