@using Client.Managers;
@using Restaurante.Shared.Records;
@using Restaurante.Shared.Wrapper;

@inject IFacturaManager facturasManager;

@page "/facturas"
<h1>Facturas</h1>
@if(Facturas != null)
{
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Costo Total</th>
                <th>Cajero</th>
                <th>Metodo de pago</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in Facturas)
            {
                <tr>
                    <td>@factura.Id</td>
                    <td>@factura.Date</td>
                    <td>@factura.Productos.Nombre $@factura.Productos.Precio</td>
                    <td>@factura.CostoTotal</td>
                    <td>@factura.CajeroNombre.Nombre</td>
                    <td>@factura.MetodoPago.Nombre</td>
                    <td><button type="button" class="btn btn-success">Descargar</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public List<FacturaRecord>? Facturas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await facturasManager.GetAsync();
        if(response.Succeeded){
            Facturas = response.Items.ToList();
        }
    }
}

